swagger: "2.0"
info:
  description: >-
    This is OpenAPI defintion for the APIs of Raven.  You can find out more
    about Raven at [https://ravenapp.dev/](https://ravenapp.dev/).
  version: 1.0.0
  title: Raven API
  termsOfService: "https://www.google.com"
  contact:
    email: api@ravenapp.dev
  license:
    name: MIT
    url: "https://opensource.org/licenses/MIT"
host: api.ravenapp.dev
basePath: /
tags:
  - name: Event
    description: Send the raven events
schemes:
  - https
securityDefinitions:
  ApiKeyAuth:
    type: apiKey
    name: Authorization
    in: header

paths:
  "/v1/apps/{app_id}/events/send":
    post:
      tags:
        - Event
      summary: sends the event to the client specified
      description: This API will send the event to the client specified
      operationId: sendEvent
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: app_id
          in: path
          type: string
          required: true
          description: app id of raven app
        - name: Idempotency-Key
          in: header
          type: string
          required: false
          description: idempotency key of api
        - name: event
          in: body
          description: the body for the event that has to be triggered
          required: true
          schema:
            $ref: "#/definitions/send_event"
      responses:
        "200":
          description: Message successfully accepted
          schema:
            $ref: "#/definitions/response"
        "404":
          description: Error
          schema:
            $ref: "#/definitions/response"
          examples:
            success: false
            error: "event not found"
        "401":
          description: Unauthorized error
          schema:
            $ref: "#/definitions/response"
      security:
        - ApiKeyAuth: []

  "/v1/apps/{app_id}/events/bulk_send":
    post:
      tags:
        - Event
      summary: sends the event in bulk to all the clients specified
      description: This API will send the event in bulk to the clients specified
      operationId: sendBulkEvent
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: app_id
          in: path
          type: string
          required: true
          description: app id of raven app
        - name: event
          in: body
          description: the body for the event that has to be triggered
          required: true
          schema:
            $ref: "#/definitions/send_event_bulk"
        - name: Idempotency-Key
          in: header
          type: string
          required: false
          description: idempotency key of api
      responses:
        "200":
          description: Message successfully accepted
          schema:
            $ref: "#/definitions/success_response"
        "404":
          description: Error
          schema:
            $ref: "#/definitions/error_response"
        "401":
          description: Unauthorized error
          schema:
            type: string
            example: "Credentials are required to access this resource."
      security:
        - ApiKeyAuth: []

definitions:
  user:
    type: object
    properties:
      user_id:
        type: string
        example: "raven user-id"
      mobile:
        type: string
        example: "+919876543210"
      email:
        type: string
        format: email
      whatsapp_mobile:
        type: string
        example: "+919876543210"
      onesignal_external_id:
        type: string
        example: "onesignal external user-id"
      fcm_tokens:
        type: array
        items:
          type: string
        example: ["fcm_token1", "fcm_token2"]
      ios_tokens:
        type: array
        items:
          type: string
        example: ["ios_token1", "ios_token2"]
      fcm_topic:
        type: array
        items:
          type: string
        example: ["topic1", "topic2"]
      fcm_device_group:
        type: array
        items:
          type: string
        example: ["grp1", "grp2"]
      slack:
        type: object
        items:
          $ref: "#/definitions/slack_profile"
      onesignal_player_ids:
        type: array
        items:
          type: string
        example: ["id1", "id2"]

  data:
    type: object
    additionalProperties:
      type: object
    example:
      name: "John Doe"
      date: "01 December 2020"

  attachments:
    type: object
    properties:
      filename:
        type: string
      content:
        type: string
      url:
        type: string

  email_recipient:
    type: object
    properties:
      name:
        type: string
      address:
        type: string

  email_override:
    type: object
    properties:
      from:
        $ref: "#/definitions/email_recipient"
      cc:
        type: array
        items:
          $ref: "#/definitions/email_recipient"
      bcc:
        type: array
        items:
          $ref: "#/definitions/email_recipient"
      #content override part
      #      text_body:
      #        type: string
      #      html_body:
      #        type: string
      #after reply to processor handling
      #      reply_to:
      #        type: string
      #        format: email
      attachments:
        $ref: "#/definitions/attachments"
      schedule_at:
        type: string

  sms_override:
    type: object
    properties:
      sender:
        type: string
      schedule_at:
        type: string

  whatsapp_override:
    type: object
    properties:
      schedule_at:
        type: string

  push_override:
    type: object
    properties:
      schedule_at:
        type: string

  webhook_override:
    type: object
    properties:
      schedule_at:
        type: string

  voice_override:
    type: object
    properties:
      schedule_at:
        type: string

  slack_override:
    type: object
    properties:
      schedule_at:
        type: string

  slack_profile:
    type: object
    properties:
      access_token:
        type: string
      email:
        type: string
      channel_id:
        type: string

  param:
    type: object
    properties:
      name:
        type: string
      value:
        type: string

  provider_override:
    type: object
    properties:
      payload:
        type: object
        additionalProperties:
          type: object
      form_params:
        type: array
        items:
          $ref: "#/definitions/param"
      query_params:
        type: array
        items:
          $ref: "#/definitions/param"
      config:
        type: object
        additionalProperties:
          type: string

  event_override:
    type: object
    properties:
      email:
        $ref: "#/definitions/email_override"
      sms:
        $ref: "#/definitions/sms_override"
      whatsapp:
        $ref: "#/definitions/whatsapp_override"
      push:
        $ref: "#/definitions/push_override"
      webhook:
        $ref: "#/definitions/webhook_override"
      voice:
        $ref: "#/definitions/voice_override"
      slack:
        $ref: "#/definitions/slack_override"
      providers:
        type: object
        additionalProperties:
          $ref: "#/definitions/provider_override"

  send_event:
    type: object
    required:
      - event
      - user
    properties:
      event:
        type: string
        example: sample_event_1
      user:
        $ref: "#/definitions/user"
      data:
        $ref: "#/definitions/data"
      schedule_at:
        type: string
      override:
        $ref: "#/definitions/event_override"
    example:
      event: "sample_event"
      user:
        mobile: "+919876543210"
        email: "x@ravenapp.dev"
        whatsapp_mobile: "+919876543210"
      data:
        name: "John Doe"
        date: "01 December 2020"

  send_event_bulk:
    type: object
    required:
      - event
      - batch
    properties:
      event:
        type: string
        example: sample_event_1
      batch:
        type: array
        items:
          type: object
          required:
            - user
          properties:
            user:
              $ref: "#/definitions/user"
            data:
              $ref: "#/definitions/data"
            override:
              $ref: "#/definitions/event_override"
    example:
      event: "sample_event"
      batch:
        - user:
            mobile: "+919876543210"
            email: "x@ravenapp.dev"
            whatsapp_mobile: "+919876543210"
          data:
            name: "John Doe"
            date: "01 December 2020"
        - user:
            mobile: "+919876543210"
            email: "x@ravenapp.dev"
            whatsapp_mobile: "+919876543210"
          data:
            name: "John Doe"
            date: "01 December 2020"

  response:
    type: object
    properties:
      success:
        type: boolean
        enum: [true, false]
        example: true
      id:
        type: string
        example: "1d1ed73c-96e6-4aa3-abc2-2e9a926f773a"
      error:
        type: string
        example: "event not found"
    example:
      success: true
      id: "1d1ed73c-96e6-4aa3-abc2-2e9a926f773a"

  success_response:
    type: object
    properties:
      success:
        type: boolean
        enum: [true]
        example: true
      id:
        type: string
        example: "1d1ed73c-96e6-4aa3-abc2-2e9a926f773a"
  error_response:
    type: object
    properties:
      id:
        type: string
        example: "1d1ed73c-96e6-4aa3-abc2-2e9a926f773a"
      #      success:
      #        type: boolean
      #        enum: [false]
      #        example: false
      error:
        type: string
        example: "event not found"
